@header-height: 40px;
@header-bg-color: #647C92;
@bg-color: #f0f4f7;
@radius: 3px;

.inline-block {
  display: inline-block;
}

.header {
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.header-bg {
  background-color: @header-bg-color;
  height: @header-height;
}

.header-bar {
  height: @header-height;
  color: white;
}

.display-table {
  display: table;
}

.display-table-row {
  display: table-row;
}

.display-table-cell {
  display: table-cell;
}

.vertical-align-center {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.clickable-text {
  text-decoration: none !important;
  cursor: pointer !important;
  display: block;
}

.clickable-text:hover {
  color: #008cba;
}

.text-size-14px label,a {
  font-size: 14px;
}

.text-70percent {
  font-size: 70%;
}

.text-80percent {
  font-size: 80%;
}

.text-90percent {
  font-size: 90%;
}

.text-100percent {
  font-size: 100%;
}

.text-110percent {
  font-size: 110%;
}

.text-120percent {
  font-size: 120%;
}

.text-130percent {
  font-size: 130%;
}

.text-140percent {
  font-size: 140%;
}

.text-150percent {
  font-size: 150%;
}

.text-160percent {
  font-size: 160%;
}

.text-170percent {
  font-size: 170%;
}

.text-180percent {
  font-size: 180%;
}

.text-190percent {
  font-size: 190%;
}

.text-opacity-60percent {
  opacity: 0.6;
}

.text-opacity-70percent {
  opacity: 0.7;
}

.text-opacity-80percent {
  opacity: 0.8;
}

.shrink {
  white-space:nowrap;
}

.expand-full-width {
  width: 100%;
}

.expand-full-height {
  height: 100%;
}

.login-link {
  color: white;
}
.login-link:hover {
  color: white;
  border-bottom: 1px solid;
}

.register-link {
  color: white;
}
.register-link:hover {
  color: white;
  border-bottom: 1px solid;
}

.color-alert {
  color: #FF8080;
}

.color-success {
  color: #18B160;
}

.color-white {
  color: white;
}

.color-orange {
  color: orange;
}

.step-number {
  border-color: black;
  border-radius: 999px;
  border-width: 4px;
  border-style: solid;
  width: 36px;
  height: 36px;
  padding: 8px;
  text-align: center;
}

.icon-container {
  position: relative;
}

.icon-container {
  width: 36px;
  height: 36px;
}

.icon-text {
  text-align: center;
  position: absolute;
}

.step-indicator {
  padding-top: 10px;
  padding-bottom: 10px;
}

.step-indicator ul {
  display: table;
  table-layout: fixed;
  font-size: 20px;
  color: white;
  padding: 0 60px;
  width: 100%;

  li {
    width: auto;
    display: table-cell;
    text-align: center;
    opacity: 0.6;
  }

  li.active {
    opacity: 1.0;
  }
}

.bfc {
  overflow: hidden;
}

.root-wrapper {
  overflow: hidden; // bfc
  position: fixed;
  top: 50px;
  left: 20px;
  bottom: 10px;
  right: 20px;
}

.preview-wrapper {
  position: absolute;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  top: 5px;
  right: 50%;
  left: 20px;
  bottom: 20px;
  margin-right: 10px;
}

.preview {
  overflow: auto;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
  width: 100%;
  height: 98%;
}

.editor-wrapper {
  position: absolute;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  top: 5px;
  right: 20px;
  bottom: 20px;
  left: 50%;
  margin-left: 10px;
}

.text-editor {
  resize: none;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
  font-size: 14px;
  width: 100%;
  height: 98%;
}

.cursor-hand {
  cursor: pointer;
}

.tag {
  border-radius: @radius;
  font-family: "Hiragino Mincho Pro", serif;

  a {
    padding: 2px 4px !important;
    margin: 3px 0;
  }
}

.tag.active {
  background-color: #39b3d7;

  a {
    color: white;
  }
}

.tag:hover:not(.active) {
  background-color: #eee;
}

.color-grey {
  color: #bbb;
}

.block {
  display: block;
}

.row.no-compensation {
  margin-right: 0;
  margin-left: 0;

}

.opacity-60 {
  opacity: 0.6;
}

.post-list {

}

.post-item {
  padding: 10px 10px;
  border-bottom: 1px dashed #ccc;
}

.post-item:hover,
.post-item:focus {
  text-decoration: none;
  background-color: #eee;
}

.post-list .post-item:first-child {
  border-top: 1px dashed #ccc;
}

.post-list .post-item:last-child {
  // border-bottom: none;
}

.post-item .title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 6px;
}

.strike-through-text {
  width: 1px;
  padding: 0 10px;
  white-space: nowrap;
}
