@import "base";

@page-width: 970px;

//.navbar {
//  background-color: @bg-color;
//}

body {
  background-color: #f0f4f7;
  font-family: 'Amethysta', serif;
  font-weight: 300;
  font-size: 18px;
  color: #444
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em
}


.jumbotron {
  margin: 0 !important;
}

.container {
  width: @page-width !important;
}

ul, ol {
  margin-top: 3px;
  margin-bottom: 3px;
}

.label {
  font-size: 100%;
  padding: 4px 6px;
}

.label {
  color: #008cba;
}

.label.active {
  color: white;
}

.label.inactive {
  background: none;
}

.label.inactive:hover {
  background-color: #e7e7e7;
}

.breadcrumb {
  border: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.breadcrumb li a {
  color: white;
}

.breadcrumb li span {
  color: darkgrey;
}

#login-buttons {
  line-height: @header-height;
}

.login-link-text {
  color: white;
}

blockquote {
  border-left: 4px solid grey;
}
